/* Text */
p {
  font-family: 'Lobster', cursive;
  color: rgb(173, 173, 173);
  text-shadow: rgb(89, 83, 175) 0rem 0rem .3rem;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
}

h2 {
  font-family: 'Lobster', cursive;
  color: rgb(173, 173, 173);
  text-shadow: rgb(89, 83, 175) 0rem 0rem .3rem;
  font-size: 4rem;
}

h3 {
  font-family: 'Lobster', cursive;
  color: rgb(173, 173, 173);
  text-shadow: rgb(89, 83, 175) 0rem 0rem .3rem;
  font-size: 2rem;
}

h4 {
  font-family: 'Lobster', cursive;
  color: rgb(173, 173, 173);
  text-shadow: rgb(89, 83, 175) 0rem 0rem .3rem;
  font-size: 1.5rem;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* Page Elements */

body {
  background-image: url("/images/random_grey_variations.png");
}

.jumbotron-fluid {
  min-height: 15rem;
  color: white;
  text-align: center;
  text-shadow: black 0rem 0rem .3rem;
  background-image: url("/images/discoball.jpg");
  background-position: center;
}

.card {
  background-color: rgba(7, 7, 7, 0.281);
  margin: .5rem;
  text-shadow: black 0rem 0rem .5rem;
}

.card-header {
  text-align: center
}


/* Forms */
input,
textarea {
  margin: 20px;
}

/* Buttons */
.btn-dark {
  font-family: 'Lobster', cursive;
  font-size: 2rem;;
  color: #1da1f2;
  border-color: #1da1f2;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px 5px;
  background-image: url("/images/discoball.jpg");
  background-size: cover;
}

.btn-dark:hover {
  border-color:white
}