<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Find Your Event</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Moment.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <!-- AOS CSS Animate On Scroll -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/event-search.css">

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="">Search for Event</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/addEvent">Create Event</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            About the Team
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https://keithbillings.github.io/">Keith</a>
            <!-- ADD ALEX'S PORTFOLIO PAGE -->
            <a class="dropdown-item" href="#">Alex</a>
            <a class="dropdown-item" href="https://zilchlorf.github.io/Max-William-Edmonds-Portfolio/">Max</a>
            <a class="dropdown-item" href="https://briansoldani.github.io/">Brian</a>
          </div>
        </li>
      </div>
    </div>
  </nav>

  <div class="jumbotron-fluid">
    <div class="container-fluid">
      <h1>The Party Planning Committee!</h1>
      <h6 id="officeQuote"></h6>
    </div>
  </div>

  <div class="container" id="eventSearchContentContainer">

    <!-- animate on scroll -->
    <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="500">
      <div data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="500">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h2>Events</h2>
              </div>
              <div class="card-body" id="event-list">
                <!-- events will be listed here -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Moment.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
  <!-- Popper -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- AOS.js -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <!-- Local JS -->
    <script type="text/javascript" src="js/event-search.js"></script>
    <script type="text/javascript" src="js/office.js"></script>
</body>

</html>
