<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8" />
  <title>The Party Planning Committee!</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
  <!-- AOS CSS Animate On Scroll -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/event.css"/>

</head>

<body>
  <div class="jumbotron">
    <h1 class="text-center">The Party Planning Committee!</h1>
    <h6 id="officeQuote"></h6>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header" id="event-name">
            <!-- Event Name will go here -->
          </div>
          <div class="card-body" id="event-details">
            <!-- Event Details will go here -->
            <!-- <h4>Event Name</h4>
              <p>Event Date:</p>
              <p>Event Time:</p>
              <p>Event Location:</p>
              <p>Event Theme:</p> -->
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h4>Event Location</h4>
          </div>
          <div class="card-body" id="map">
            <!-- Google map will go here -->
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h4>Message Board:</h4>
          </div>
          <div class="card-body">
            <input class="form-control" type="text" id="author" placeholder="Enter Your Name" />
            <textarea class="form-control" rows="3" id="message-box" placeholder="Enter Message Here!"></textarea>
            <button id="message-submit" class="btn btn-lg pull-right">
              Submit!
            </button>
          </div>
        </div>   
      </div>
      <!-- row end --> -->
    </div>

    <div class="row">
      <div class="col-6">\
        <div class="card">
          <div class="card-header">
            <h4>Message Board:</h4>
          </div>
          <div class="card-body">
          <!-- Accordion Wrapper -->
            <div class="accordion md-accordion accordion-blocks" id="accordionWrapper" role="tablist" aria-multiselectable="true">
            <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingGuestlist">
              <!--Options-->
              <div class="dropdown float-left">
                <button class="btn btn-info btn-sm m-0 mr-3 p-2 dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </div>

              <!-- Heading -->
              <a data-toggle="collapse" data-parent="#accordionWrapper" href="#collapseGuestlist" aria-expanded="true"
                aria-controls="collapseGuestlist">
                <h5 class="mt-1 mb-0">
                  <span id="guestName">Guest Name</span>
                  <i class="fas fa-angle-down rotate-icon"></i> <!-- This icon is not working :( -->
                </h5>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseGuestlist" class="collapse" role="tabpanel" aria-labelledby="headingGuestlist"
              data-parent="#accordionWrapper">
              <div class="card-body">
                <p></p>
                Guest Information, food, beverage, etc list
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h4>Messages:</h4>
          </div>
          <div class="card-body">
            <p>Here we will display messages from user input</p>
          </div>
      </div>
    <!-- row end -->
    </div>

  </div>

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- Moment.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
  <!-- Local JS -->
  <script type="text/javascript" src="js/event.js"></script>
  <script type="text/javascript" src="/js/office.js"></script>
</body>

</html>