<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Create Your Event</title>

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
   <!-- jQuery -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
   <!-- Moment.js -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
 
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
 
   <!-- AOS CSS Animate On Scroll -->
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
 
   <!-- CSS -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" type="text/css" href="css/event-create.css">

</head>

<body class="indexPage">

  <div class="jumbotron">
    <h1 class="text-center">The Party Planning Committee!</h1>
    <h6 id="officeQuote"></h6>
  </div>

  <div class="container">
    <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
      <div data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2500">

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputGuestName">Name</label>
          <input type="text" class="form-control" id="guestName">
        </div>
        <div class="form-group col-md-6">
          <label for="inputGuestContact">Event Description</label>
          <input type="text" class="form-control" id="guestContact">
        </div>
      </div>