<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>The Party Planning Committee!</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <!-- AOS CSS Animate On Scroll -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">

</head>

<body>

  <div class="jumbotron-fluid" id="homeButton">
    <div class="container-fluid">
      <h1>The Party Planning Committee!</h1>
      <h6 id="officeQuote"></h6>
    </div>
  </div>

  <div class="container" id="landingPageContainer">

    <!-- Buttons -->
    <button type="submit" id="createButton" class="btn btn-dark">Create Event</button>
    <button type="submit" id="searchButton" class="btn btn-dark">Search For Event</button>

  </div>

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Moment.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
  <!-- AOS JS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- Local JS -->
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/office.js"></script>
</body>

</html>